@import url("bootstrap-responsive.min.css");
@import url("bootstrap.min.css");
@import url("bootstrap-datepicker.css");
@import url("jquery-ui-flick-1.8.14.css");
@import url("jquery.timepicker.css");
@import url("fullcalendar.css");
@import url("calendar-colors.css");

body {
    margin-top:60px;
}

.templates-container {

}

.table-striped {
    font-size: 12px;
}

.ui-datepicker {
    font-size:12px;
    width: 147px;
}

input {
    height: 26px;
}

.logomogo {
    background: url("../images/fire_icon&24.png") no-repeat;
    padding-left: 27px;
    padding-right: 5px;
    height:24px;
}

.search-query {
    height: 28px;
}

.organization-list {
    list-style-type: none;
    padding:0;
    margin:0;
}

.organization-item {
    float:left;
    padding: 5px 0 5px 0;
    background-color: #FFFFFF;
    width: 270px;
}

.organization-item.active {
    background-color: #EFEFEF;
}

.organization-actions {
    margin-top: 7px;
    float:left;
    display: none;
    text-decoration: none;
}

.organization-actions.active {
    display: inline-block;
}

.organization-actions > a {
    color: #000;
    text-decoration: none;
}

.fc-agenda-list-container {
    display: block;
}

th.fc-agenda-list-container  {
    font-weight: bold;
    text-align: left;
}

td.fc-agenda-list-container  {
    font-weight: normal;
}

.fc-agenda-list-day {
    width:120px;
    text-align:left;
    padding:3px;
    border-top: 1px solid #DEDEDE;
    margin-top: 20px;
}
