<div class="modal modal-organization-add" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Yeni Organizasyon</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal frm-organization">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="organization_name">Organizasyon Adı</label>
                    <div class="controls">
                        <input class="input-xlarge" name="name" id="organization_name" type="text" value="" />
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn"  data-dismiss="modal">Kapat</a>
        <a href="#" class="btn btn-primary save-organization-add">Kaydet</a>
    </div>

</div>