<h3>Kategori</h3>

<form class="form-horizontal" style="margin-top:20px;">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="category_name">Adı</label>
            <div class="controls">
                <input class="input-xlarge" name="category_name" id="category_name"  type="text" value="" />
                <button class="btn btn-primary add-category">Ekle</button>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <ul class="category-list organization-list">

                </ul>
            </div>
        </div>
    </fieldset>
</form>
