<h3>Lokasyon</h3>

<form class="form-horizontal" style="margin-top:20px;">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="location_name">Adı</label>
            <div class="controls">
                <input class="input-xlarge" name="location_name" id="location_name"  type="text" value="" />
                <button class="btn btn-primary add-location">Ekle</button>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <ul class="location-list organization-list">

                </ul>
            </div>
        </div>
    </fieldset>
</form>
