<h3>Üyeler</h3>

<form class="form-horizontal" style="margin-top:20px;">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="member_email">Eposta</label>
            <div class="controls">
                <input class="input-xlarge" name="member_email" id="member_email" type="text" value="" style="width:200px" />
                <select class="input-xlarge" name="member_role" id="member_role" style="width:110px" >
                    <option>Rol Seçiniz</option>
                    <option>Yönetici</option>
                    <option>Üye</option>
                </select>
                <button class="btn btn-primary add-location">Ekle</button>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <ul class="location-list organization-list">

                </ul>
            </div>
        </div>
    </fieldset>
</form>