<div>
    <h2 style="border-bottom:1px solid #EEE; margin-bottom: 10px; padding-bottom:5px;">
        <%= organization_name %>
    </h2>

    <div class="row" style="padding-left: 20px;">
        <div id="organization-settings" class="tabbable tabs-right" style="float:right;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#settings" data-toggle="tab">Ayarlar</a></li>
                <li><a href="#category" data-toggle="tab">Kategori</a></li>
                <li><a href="#location" data-toggle="tab">Lokasyon</a></li>
                <li><a href="#member" data-toggle="tab">Üyeler</a></li>
                <li><a href="#widget" data-toggle="tab">Site Eklentisi</a></li>
            </ul>
        </div>
        <div class="tab-content" style="float:left; width:650px;">
            <div class="tab-pane active" id="settings">
            </div>
            <div class="tab-pane" id="category">
            </div>
            <div class="tab-pane" id="location">
            </div>
            <div class="tab-pane" id="member">

            </div>
            <div class="tab-pane" id="widget">

            </div>
        </div>
    </div>


</div>
