<h3>Ayarlar</h3>

<form class="form-horizontal frm-organization-edit" style="margin-top:20px;">
    <fieldset>
        <div class="control-group">
            <label class="control-label" style="text-align: left;" for="organization_name">Organizasyon Adı</label>
            <div class="controls">
                <input class="input-xlarge" name="name" id="organization_name" type="text" value="<%= organization_name %>" />
                <p class="help-block"></p>
            </div>

        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button class="btn btn-primary" id="update-organization" type="submit">Kaydet</button>
    <button class="btn" type="reset">İptal</button>
</div>


<div class="row" style="padding-left: 20px;">
    <div class="alert alert-block alert-error fade in">

        <h4 class="alert-heading">Organizasyonu Sil!</h4>
        <p>
            Organizasyonu sildiğinizde, tüm etkinlikler, kategori ve lokasyon tanımlarınızı kaybedeceksiniz.<br/>
            Silmek istediğinizden emin misiniz?
        </p>
        <p>
            <a href="#" id="delete-organization" class="btn btn-danger">Evet, Son Kararım</a>
        </p>
    </div>
</div>