<div>
    <h2 style="border-bottom:1px solid #EEE; margin-bottom: 10px; padding-bottom:5px;">Cihangir Yoga</h2>

    <div class="tabbable tabs-right" style="float:right;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#rA" data-toggle="tab">Kategori</a></li>
            <li><a href="#rB" data-toggle="tab">Lokasyon</a></li>
            <li><a href="#rC" data-toggle="tab">Üyeler</a></li>
            <li><a href="#rD" data-toggle="tab">Site Eklentisi</a></li>
        </ul>
    </div>
    <div class="tab-content" style="float:left; width:650px;">
        <div class="tab-pane active" id="rA">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Cihangir Yoga</a> <span class="divider">/</span>
                </li>

                <li class="active">Kategori</li>
            </ul>
            <div class="row-fluid">
                <div>

                    <form>
                        <table class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Description</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><i class="icon-file"></i> Invoice #1 </td>
                                <td width="15%">
                                    <div class="btn-group">
                                        <a class="tooltip-top btn" href="#" data-original-title="Sil"><i class="icon-trash"></i></a>
                                    </div></td>
                                <td width="1%">
                                    <input type="checkbox">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="delete btn btn-info" type="button">
                                <i class="icon-white icon-plus-sign"></i> Ekle
                            </button>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a href="#">«</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">»</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="rB">
            <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane" id="rC">
            <p>What up girl, this is Section C.</p>
        </div>
        <div class="tab-pane" id="rD">
            <p>What up girl, this is Section D.</p>
        </div>

    </div>
</div>