<div class="span6" style="padding-left:250px;">
    <div class="well" style="width:350px;">
        <form name="frm-forgot" method="post" class="form-inline">
            <legend style="margin-bottom:10px;">Şifremi Unuttum</legend>


            <fieldset>
                <div class="control-group ">
                    <div class="input"><input style="width:350px;" id="email" type="text" name="email"
                                              value="" placeholder="Eposta adresi"
                            /></div>
                </div>
                <div class="control-group">

                </div>

                <input type="submit" class="btn btn-primary" value="Gönder"/>
            </fieldset>
        </form>
    </div>
</div>