
<div>
    <div class="alert alert-success" style="width:340px; margin: 0 auto; margin-bottom: 20px; display: none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <span class="alert-message"></span>
    </div>

    <div class="well" style="width:350px; margin: 0 auto;">
        <form id="frm-login" class="form-inline" method="post">
            <legend style="margin-bottom:10px;">Üye Girişi</legend>
            <fieldset>
                <div class="control-group ">
                    <div class="input">
                        <input style="width:350px;" id="email" type="text" name="email" value="" placeholder="Eposta adresi" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input">
                        <input style="width:350px;" id="password" type="password" name="password" value="" placeholder="Şifre" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label" style="float:right;">
                        <a href="#forgot">Şifremi Unuttum</a>
                    </div>
                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="Giriş"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>