<div class="modal" style="display: none;" id="account-settings">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Ayarlar</h3>
    </div>
    <div class="modal-body">
        <form id="edit-profile" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="fullname">Adı, Soyadı</label>
                    <div class="controls">
                        <input class="input-xlarge" name="fullname" id="fullname" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Eposta</label>
                    <div class="controls">
                        <input class="input-xlarge" id="email" value="" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Şifre</label>
                    <div class="controls">
                        <input class="input-xlarge" id="password" value="" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password-again">Şifre Onayı</label>
                    <div class="controls">
                        <input class="input-xlarge" id="password-again" value="" type="text">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn"  data-dismiss="modal">Kapat</a>
        <a href="#" class="btn btn-primary">Kaydet</a>
    </div>
</div>