
<div>
    <div class="alert alert-success" style="width:340px; margin: 0 auto; margin-bottom: 20px; display: none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <span class="alert-message"></span>
    </div>

    <div class="well" style="width:350px; margin:0 auto;">
        <form id="frm-signup" method="post" class="form-inline">
            <legend style="margin-bottom:10px;">Ücretsiz Üyelik</legend>
            <fieldset>
                <div class="control-group " >
                    <div class="input">
                        <input style="width:350px;" id="fullname" type="text" name="fullname"
                               value="" placeholder="Adı, Soyadı"/>
                        <p class="help-block"></p>
                    </div>

                </div>
                <div class="control-group " >
                    <div class="input">
                        <input style="width:350px;" id="email" type="text" name="email"
                               value="" placeholder="Eposta adresi"/>
                        <p class="help-block"></p>
                    </div>

                </div>
                <!-- end row -->

                <div class="control-group " >
                    <div class="input">
                        <input style="width:350px;" id="password" type="password" name="password"
                               value="" placeholder="Şifre"
                                />
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group " >
                    <div class="input">
                        <input style="width:350px;" id="password_confirmation" type="password" name="password_confirmation"
                               value="" placeholder="Şifrenizi doğrulayın"
                                />
                        <p class="help-block"></p>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Kaydet">
            </fieldset>
        </form>
    </div>
</div>
