<div class="sidebar">
    <div style="padding: 8px 0;" class="well">
        <ul class="nav nav-list">
            <li class="nav-header">
                HESABIM
            </li>
            <li class="active">
                <a href="#calendar"><i class="icon-calendar"></i> Takvim</a>
            </li>
                    <!--
            <li>
                <a href="#messages" data-target="#message-compose" data-toggle="modal">
                    <i class="icon-envelope"></i>
                    Gelen İstekler

                </a>
            </li>       -->

            <li>
                <a id="account-settings" href="#account-settings"><i class="icon-user"></i> Ayarlar</a>
            </li>

            <li class="nav-header">
                ORGANİZASYON
            </li>
            <li>
                <a href="#organization/create" data-toggle="modal"><i class="icon-file"></i> Ekle</a>
            </li>
            <li class="divider"> </li>

            <li>
                <a href="#organization/1">Cihangir Yoga</a>
            </li>
            <li>
                <a href="#organization/2">Alman Hastanesi</a>
            </li>
        </ul>
    </div>
</div>