<div class="sidebar">
    <div style="padding: 8px 0;" class="well">
        <ul class="nav nav-list">
            <li class="nav-header">
                HESABIM
            </li>
            <li class="active">
                <a href="#calendar"><i class="icon-calendar"></i> Takvim</a>
            </li>
                    <!--
            <li>
                <a href="#messages" data-target="#message-compose" data-toggle="modal">
                    <i class="icon-envelope"></i>
                    Gelen İstekler

                </a>
            </li>       -->

            <li>
                <a id="account-settings" href="#account-settings"><i class="icon-user"></i> Ayarlar</a>
            </li>

            <li class="nav-header">
                ORGANİZASYON
            </li>
            <li>
                <a id="organization-add" href="#organization-add"><i class="icon-file"></i> Ekle</a>
            </li>
            <% if (organizations != undefined && organizations.length > 0) { %>
            <li class="divider"> </li>
                <% $.each(organizations, function(key, value) { %>
                <li>
                    <a href="#organization/<%= value.id %>"><%= value.name %></a>
                </li>
                <% }); %>
            <% } %>

        </ul>
    </div>
</div>